.filterBox {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
}

.newsReader{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
}

.newsItemWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
}

.headerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #352f43;
    color: white;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;
}

.title{
    font-size: 50px;
}