@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.App {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  height: 100vh;
}
